.venv
venv
__pycache__
*.pyc
*.pyo
.env
.git
.gitignore

# Docker files
.dockerignore
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.yml
Dockerfile

# Testing
.pytest_cache/
htmlcov/
.coverage
test-results/
playwright-report/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Content data
content/

# Client
client/


#Local data
.data/
