POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5050

ENVIRONMENT=production
DEBUG=false

GROQ_API_KEY=

QDRANT_SERVICE_HTTP_PORT=6333
QDRANT_SERVICE_GRPC_PORT=6334
QDRANT_SERVICE_READ_ONLY_API_KEY=
QDRANT_SERVICE_API_KEY=